
body {
	font-family: 'Amiko', sans-serif;
  color: #000000;
}

body, html {
    height: 100%;
}

#about {
    height:300px;
    background: rgba(255,255,255,0.3);
    text-align: center; padding: 40px 100px 40px 100px;
}

#playlist {
  border: 1px solid red;
  height:300px;
  background: rgba(255,255,255,0.3);
  padding: 50px;
}

#contact {
  height:300px;
  background: rgba(255,255,255,0.3);
  padding: 50px;
}

.parallax {
    /* The image used */
    background-image: url('boardWalkOverWater.jpg');

    /* Full height */
    height: 200px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


